
    body {
    color: black;
    background-color: lightblue;
}

h1 {
    text-align: center;
    color: black;
}

p {
    color: black;
}

.profile-info {
    background-color: lightgray;
}

.section-title {
    font-weight: bold;
}

.center-text {
    text-align: center;
}

#about {
    background-color: lightgray;
}

#contact {
    background-color: lightblue;
}

.profile-info.center-text {
    text-align: center;
}